@font-face {
    font-family: oswaldExtraLight;
    src: url("../assets/fonts/Oswald-ExtraLight.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;

}

nav {
    display: flex;
    flex-direction: column;
    width: clamp(1vw,10rem, 10rem);
    height: 100%;
    background-color: #897764;
    color: white;
}

ul {

    padding: 0;
    font-family: oswaldExtraLight, serif;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    line-height: clamp(5rem, 15vh, 10rem);
    flex-direction: column;
    text-align: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: inherit;
    text-shadow: rgb(255, 255, 255) 0 0 3px;
}



#app {
    background-image: url('../assets/images/luca-bravo-desk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


#contentPane {
    align-content: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    background-color: rgba(25, 26, 26, 0.93);
}