@font-face {
    font-family: oswaldExtraLight;
    src: url("./assets/fonts/Oswald-ExtraLight.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1rem;

}

#app {
    background-image: url('./assets/images/luca-bravo-desk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#topNav {
    font-family: oswaldExtraLight, serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #191a1a;
    width: 100%;
    gap: 0.5rem;

}

#textContent {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#headerText {
    font-size: clamp(2rem, calc(0rem + 5.333vw), 4rem);
    letter-spacing: 0.6rem;
    color: #f1f1f1;
    margin: auto auto 5px;
    line-height: 1;
}

#slogan {
    font-size: clamp(1rem, calc(0rem + 2.667vw), 2rem);
    color: #f1f1f1;
    margin: 0 auto auto;
    line-height: 1;
}

#contentPane {
    align-content: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    background-color: rgba(25, 26, 26, 0.93);
}

#userPrompt {
    width: 45%;
    margin: 5rem auto 0;
    font-style: italic;
    text-align: center;
    font-family: oswaldExtraLight, serif;
    font-size: clamp(1rem, calc(0rem + 5.333vw), 2rem);
    color: whitesmoke;
    letter-spacing: 1px;
}

#newUserList {
    margin: 5% auto auto;
    font-family: oswaldExtraLight, serif;
    text-align: center;
    font-size: clamp(1rem, calc(0rem + 5.333vw), 2rem);
    color: whitesmoke;

}

#newUserList:hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: rgb(255, 255, 255) 0 0 9px;
}

#sideNav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 15rem;
    background-color: #8E8B82;
}